.banner.icon{
	position: absolute;
	width: 40px;
	height: 37px;
	left: 26px;
	top: 12px;

	background: url(icon.png);
}

.banner.logo{
position: absolute;
width: 175px;
height: 33px;
left: 83px;
top: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;

}
.banner.retangulo{
	position: absolute;
	width: 1747px;
	height: 68px;
	left: 0px;
	top: 0px;

	background: #D9D9D9;
}

.banner.usuarios{
	position: absolute;
	width: 196px;
	height: 18px;
	left: 682px;
	top: 6px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

}

.banner.cadastrar{
	position: absolute;
	width: 261px;
	height: 32px;
	left: 890px;
	top: 4px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

}

.banner.analistycs{
	position: absolute;
	width: 272px;
	height: 30px;
	left: 1151px;
	top: 6px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

}

.cadastrar.titulo{
	position: absolute;
	width: 1062px;
	height: 71px;
	left: 53px;
	top: 146px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;
}

.cadastrar.nomeTitulo{
	position: absolute;
	width: 199px;
	height: 38px;
	left: 168px;
	top: 272px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}
.cadastrar.idadeTitulo{
	position: absolute;
	width: 221px;
	height: 32px;
	left: 168px;
	top: 335px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}

.cadastrar.sexoTitulo{

	position: absolute;
	width: 208px;
	height: 33px;
	left: 168px;
	top: 394px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}
.cadastrar.longitudeTitulo{position: absolute;
width: 221px;
height: 33px;
left: 168px;
top: 514px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.cadastrar.latitudeTitulo{position: absolute;
width: 199px;
height: 38px;
left: 168px;
top: 451px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.cadastrar.descricao1Titulo{position: absolute;
width: 208px;
height: 34px;
left: 168px;
top: 573px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.cadastrar.descricao2Titulo{position: absolute;
width: 199px;
height: 38px;
left: 167px;
top: 637px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.cadastrar.descricao3Titulo{position: absolute;
width: 221px;
height: 33px;
left: 167px;
top: 700px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.cadastrar.descricao4Titulo{position: absolute;
width: 208px;
height: 34px;
left: 167px;
top: 757px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}

.cadastrar.caixaNome{


	position: absolute;
	width: 389px;
	height: 38px;
	left: 376px;
	top: 272px;

	background: #D9D9D9;
}

.cadastrar.caixaIdade{
	position: absolute;
	width: 389px;
	height: 38px;
	left: 376px;
	top: 331px;

	background: #D9D9D9;
}

.cadastrar.caixaSexo{
	position: absolute;
	width: 389px;
	height: 38px;
	left: 376px;
	top: 380px;

	background: #D9D9D9;
}
.cadastrar.caixaLongitude{position: absolute;
	position: absolute;
	width: 389px;
	height: 38px;
	left: 376px;
	top: 495px;

	background: #D9D9D9;
}

.cadastrar.caixaLatitude{
	position: absolute;
	position: absolute;
	width: 389px;
	height: 38px;
	left: 376px;
	top: 432px;

	background: #D9D9D9;
}

.cadastrar.caixaQuantidade1{
	position: absolute;
width: 389px;
height: 38px;
left: 376px;
top: 554px;

background: #D9D9D9;}

.cadastrar.caixaQuantidade2{position: absolute;
width: 389px;
height: 38px;
left: 376px;
top: 613px;

background: #D9D9D9;}
.cadastrar.caixaQuantidade3{position: absolute;
width: 389px;
height: 38px;
left: 376px;
top: 681px;

background: #D9D9D9;}
.cadastrar.caixaQuantidade4{position: absolute;
width: 389px;
height: 38px;
left: 376px;
top: 740px;

background: #D9D9D9;}

.cadastrar.caixaEnviar{
	position: absolute;
	width: 74px;
	height: 43px;
	left: 485px;
	top: 867px;

	background: #D9D9D9;
	border-radius: 25px;
}

.cadastrar.enviarTitulo{

	position: absolute;
	width: 59px;
	height: 15px;
	left: 500px;
	top: 881px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}
