.banner.icon{
	position: absolute;
	width: 40px;
	height: 37px;
	left: 26px;
	top: 12px;

	background: url(icon.png);
}

.banner.logo{
position: absolute;
width: 175px;
height: 33px;
left: 83px;
top: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;

}
.banner.retangulo{
	position: absolute;
	width: 1747px;
	height: 68px;
	left: 0px;
	top: 0px;

	background: #D9D9D9;
}

.banner.usuarios{
	position: absolute;
	width: 196px;
	height: 18px;
	left: 682px;
	top: 6px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

}

.banner.cadastrar{
	position: absolute;
	width: 261px;
	height: 32px;
	left: 890px;
	top: 4px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

}

.banner.analistycs{
	position: absolute;
	width: 272px;
	height: 30px;
	left: 1151px;
	top: 6px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 1000px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
}
.opcoes.caixaAvisar{
width: 239px;
height: 44px;
left: 1093px;
top: 159px;

background: #D9D9D9;
}
.opcoes.textoAvisar{
width: 136px;
height: 24px;
left: 1168px;
top: 169px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.opcoes.caixaTrocar{
width: 239px;
height: 44px;
left: 1093px;
top: 233px;

background: #D9D9D9;
}
.opcoes.textoTrocar{
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
}
a{
	text-decoration:none
}