{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'cadastrarUsuario.css' %}">
</head>
<body>

<!--Banner-->
<div class='banner retangulo'></div>
<div> <img class="banner icon" rel="icone" src="{% static 'icon.png' %}"> </img></div>
<div class="banner logo">ZSSN</div>
<div class="banner usuarios"><a href="http://127.0.0.1:8000/usuarios/">Usuários</a></div>
<div class="banner cadastrar"><a href="http://127.0.0.1:8000/cadastro">Cadastrar</a></div>
<div class="banner analistycs"><a href="http://127.0.0.1:8000/analytics">Analistycs</a></div>

<!-- Pagina cadastro usuario -->
<div class="cadastrar titulo">Atualizar localização</div>
<div class="cadastrar nomeTitulo">Nome</div>
<div class="cadastrar longitudeTitulo">Longitude</div>
<div class="cadastrar latitudeTitulo">Latitude</div>
<div class="cadastrar enviarTitulo">Enviar</div>

<form action="/atualizarLocal/", method="POST">

<div>
<input class="cadastrar caixaNome type="text" name="nome">
</input>
</div>
<input class="cadastrar caixaLongitude type="text" name="longitude">
</input>
</div>
<div>
<input class="cadastrar caixaLatitude type="text" name="latitude">
</input>
</div>
<div ><input class="cadastrar caixaEnviar" type="submit" value="Enviar">
</input></div>
<div>

</form>

</body>
</html>
