{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'avisar.css' %}">
</head>
<body>

<!--Banner-->
<div class='banner retangulo'></div>
<div> <img class="banner icon" rel="icone" src="{% static 'icon.png' %}"> </img></div>
<div class="banner logo">Loja</div>
<div class="banner usuarios">Usuários</div>
<div class="banner cadastrar">Cadastrar</div>
<div class="banner analistycs">Analistycs</div>

<!-- Pagina avisar infeccao usuario -->
<div class="cadastrar titulo">Cadastrar Usuário</div>
<div class="cadastrar avisoTitulo">Aviso</div>


<form action="http://127.0.0.1:8000/atualizarUsuario/", method="POST">
<p class="cadastrar tituloNome">Nome:</p>
<input class="cadastrar caixaNome" type="text" name="nome">
<p class="cadastrar tituloAviso">Aviso:</p>
<input class="cadastrar caixaAviso" type="number" name="avisar">
<input class="cadastrar botao" type="submit" value="Avisar">
</form>

</body>
</html>
