<!DOCTYPE html>
<html>
<head> 
<link rel="stylesheet" href="cadastrarUsuario.css"> 
</head>
<body>

<!--Banner-->
<div class="banner logo"><img></img></div>
<div class="banner inicio">Inicio</div>
<div class="banner cadastrar">Cadastrar</div>
<div class="banner analistycs">Analistycs</div>

<!-- Pagina cadastro usuario -->
<div class="cadastrar titulo">Cadastrar Usúario</div>
<div class="cadastrar nomeTitulo">Nome</div>
<div class="cadastrar idadeTitulo">Idade</div>
<div class="cadastrar sexoTitulo">Sexo</div>
<div class="cadastrar enviarTitulo">Enviar</div>
<form action="/setUsuario/", method="POST">
<div><input class="cadastrar caixaNome type="text" name="firstName">
</input></div>
<div ><input class="cadastrar caixaIdade" type="text" name="lastName">
</input></div>
<div><input class="cadastrar caixaSexo" type="text" name="sexo">
</input></div>
<div ><input class="cadastrar caixaEnviar" type="submit" value="Enviar">
</input></div>
</form>

</body>
</html>