{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'usuarios.css' %}">
</head>
<body>
  <!--Banner-->
  <div class='banner retangulo'></div>
  <div> <img class="banner icon" rel="icone" src="{% static 'icon.png' %}"> </img></div>
  <div class="banner logo">Loja</div>
  <div class="banner usuarios">Usuários</div>
  <div class="banner cadastrar">Cadastrar</div>
  <div class="banner analistycs">Analistycs</div>

<h1>Usuarios</h1>
<ul>
  {% for x in myusuarios %}
  <li>
    Nome : {{ x.nome }} Idade: {{ x.idade }} Sexo : {{ x.sexo }} Latitude : {{ x.latitude }} Longitude : {{ x.longitude }}
    Aviso : {{ x.aviso }} Água : {{ x.quantidade1 }} Alimento : {{ x.quantidade2 }} Medicação : {{ x.quantidade3 }} Munição : {{ x.quantidade4 }}
  </li>
  {% endfor %}
</ul>
<div class='opcoes textoAvisar'><a href="http://127.0.0.1:8000/avisar"> Avisar infeccao</a></div>
<div class='opcoes caixaAvisar'></div>
<div class='opcoes tituloTrocar'><a href="http://127.0.0.1:8000/trocar">Trocar itens</a></div>
<div class='opcoes caixaTrocar'></div>
</body>1
</html>
