.banner.icon{
	position: absolute;
	width: 40px;
	height: 37px;
	left: 26px;
	top: 12px;

	background: url(icon.png);
}

.banner.logo{
position: absolute;
width: 175px;
height: 33px;
left: 83px;
top: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;

}
.banner.retangulo{
	position: absolute;
	width: 1747px;
	height: 68px;
	left: 0px;
	top: 0px;

	background: #D9D9D9;
}

.banner.usuarios{
position: absolute;
width: 196px;
height: 18px;
left: 651px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;

}

.banner.cadastrar{
position: absolute;
width: 261px;
height: 32px;
left: 874px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;


}

.banner.analistycs{
position: absolute;
width: 272px;
height: 30px;
left: 1135px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;
}


.flex-container {
display: flex;
flex-wrap: wrap;
}

.flex-container div {
width: 200px;
height: 200px;
margin: 10px;
padding: 10px;
border: 1px solid black;
}

.opcoes {
display: flex;
align-items: center;
justify-content: center;
}

.caixaAvisar {
width: 200px;
height: 50px;
background-color: red;
}

.caixaTrocar {
width: 200px;
height: 50px;
background-color: blue;
}

a {
color: #FFFFFF;
    text-decoration: none;
}